---
http_interactions:
- request:
    method: get
    uri: https://photon.komoot.io/api?lang=en&q=90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"features":[{"geometry":{"coordinates":[-0.3245858,44.9230023],"type":"Point"},"type":"Feature","properties":{"osm_type":"W","osm_id":796232757,"extent":[-0.3245858,44.9230023,-0.3245523,44.9229482],"country":"France","osm_key":"waterway","countrycode":"FR","osm_value":"stream","postcode":"33450","name":"P9021082","type":"locality"}},{"geometry":{"coordinates":[-0.3206182,44.9199446],"type":"Point"},"type":"Feature","properties":{"osm_type":"W","osm_id":460733208,"extent":[-0.3222794,44.920061,-0.3165788,44.9196616],"country":"France","osm_key":"waterway","countrycode":"FR","osm_value":"stream","postcode":"33450","name":"P9021072","type":"locality"}},{"geometry":{"coordinates":[-0.3250062,44.9236841],"type":"Point"},"type":"Feature","properties":{"osm_type":"W","osm_id":796232758,"extent":[-0.3[...]
- request:
    method: get
    uri: https://api.open-meteo.com/v1/forecast?current_weather=true&latitude=44.9230023&longitude=-0.3245858&temperature_unit=fahrenheit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":44.920002,"longitude":-0.32000017,"generationtime_ms":0.3770589828491211,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":4.0,"current_weather":{"temperature":52.0,"windspeed":10.2,"winddirection":228.0,"weathercode":1,"time":"2022-12-21T02:00"}}'
  recorded_at: Wed, 21 Dec 2022 02:55:04 GMT
recorded_with: VCR 6.1.0
