---
http_interactions:
- request:
    method: get
    uri: https://api.open-meteo.com/v1/forecast?current_weather=true&latitude=-11&longitude=22&temperature_unit=fahrenheit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":-11.0,"longitude":22.0,"generationtime_ms":0.30601024627685547,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":1107.0,"current_weather":{"temperature":66.4,"windspeed":6.5,"winddirection":360.0,"weathercode":3,"time":"2022-12-21T03:00"}}'
  recorded_at: Wed, 21 Dec 2022 03:19:48 GMT
recorded_with: VCR 6.1.0
